* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

body {
	background: #e2e2e2;
	padding-top: 50px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.task {
	background: #fff;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter {
	margin-bottom: 30px;
}

.filter {
  span {
    margin-right: 10px;
  	cursor: pointer;
  	border-bottom: 1px solid transparent;
  	padding-bottom: 3px;
  	transition: all 0.4s;

    &.current {
      border-color: #17a6ff;
    }

    &.current,
    &:hover {
      color: #17a6ff;
    }
  }
}
